<app-navbar />
<section class="intro">
  <div class="hero">
    <div class="content">
      <h2>Office Furniture <br> Made Easy</h2>
      <ul>
        <li>adfsdfs</li>
        <li>dfewf</li>
        <li>efwfw</li>
      </ul>
      <app-button 
        label="Build My Office"
        (action)="addCounter()"
      />
    </div>
    <img class="background" src="../../../assets/img/desktop.jpg" alt="kawasaki">
  </div>
</section>

<section class="props">
  <h1 class="title">The branch difference</h1>
  <div class="props-list">
    <app-prop-template>
      <p style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem officiis ab hic, cum perspiciatis facilis id assumenda culpa minus suscipit accusantium voluptas fugit inventore molestias qui, atque dolore earum deleniti.</p>
    </app-prop-template>
    <app-prop-template>
      <p style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem officiis ab hic, cum perspiciatis facilis id assumenda culpa minus suscipit accusantium voluptas fugit inventore molestias qui, atque dolore earum deleniti.</p>
    </app-prop-template>
    <app-prop-template>
      <p style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem officiis ab hic, cum perspiciatis facilis id assumenda culpa minus suscipit accusantium voluptas fugit inventore molestias qui, atque dolore earum deleniti.</p>
    </app-prop-template>
    <app-prop-template>
      <p style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem officiis ab hic, cum perspiciatis facilis id assumenda culpa minus suscipit accusantium voluptas fugit inventore molestias qui, atque dolore earum deleniti.</p>
    </app-prop-template>
  </div>
</section>

<br><br><br><br><br><br>


<!-- <form 
  class="form" 
  (submit)="handleForm()"
  [formGroup]="userForm"
>
  <div class="form-control">
    <label for="">Fullname</label>
    <input type="text" formControlName="fullName">
  </div>

  <div class="form-control">
    <label for="">email</label>
    <input type="text" formControlName="email">
  </div>

  <div class="form-control">
    <label for="">Phone</label>
    <input type="text" formControlName="phone">
  </div>

  <div class="form-control">
    <label for="">password</label>
    <input type="password" formControlName="password">
  </div>

  <div class="form-control">
    <label for="">re-password</label>
    <input type="password" formControlName="rePassword">
  </div>
  <button type="submit">Submit</button>
</form> -->

<!-- <section>
  @if(duckImage && duckImage !== '') {
    <img class="image" [src]="duckImage" alt="random-duck" />
  }
  <button (click)="getDogImage()">Get new duck Image</button>
</section>
<br><br><br><br><br><br><br><br><br><br> -->